<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Spotify profile<hr></div>
          </div>
          <div class="row">
			      <div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="<%= @user.image %>"/>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%= @user.nickname %></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email: </span><%= @user.email %><br>
                  <span class="text-muted">Name: </span><%= @user.name %><br>
                  <span class="text-muted">Spotify Page: </span> <%= link_to @user.nickname,
                  "#{@user.spotify}" %><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead"><%= @user.nickname %>'s Playlists<hr></div>
          </div>
          <% @playlists.each do |playlist| %>
            <br>
            <div class="row">
  			      <div class="col-md-4 text-center">
                <img class="img-square avatar avatar-original playlist-pic" style="-webkit-user-select:none;
                display:block; margin:auto;" src="<%= playlist.images %>"/>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="only-bottom-margin"><%= link_to playlist.name, account_playlist_path(playlist.id) %></h1>
                      <div class="track-count">
                        <p>
                          Total tracks: <%= playlist.track_count %>
                        </p>
                      </div>
                      <%= link_to "View", account_playlist_path(playlist.id) %>
                      <%= link_to "Unfollow", account_playlist_path([playlist.id, playlist.owner]), method: "delete",  :data => { :confirm => "Are you sure you want to unfollow Playlist '#{playlist.name}'?" } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
